<div class="flex justify-center">
  <div class="card shadow-2xl border-base-300 mb-10 p-10 w-2/4"> <!-- Added card styling -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "contents") do |f| %>
      <div class="my-5"> <!-- Styled the email field -->
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-5"> <!-- Styled the password field -->
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-300 focus:border-blue-300 focus:ring focus:ring-blue-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="my-5 flex items-center"> <!-- Styled the remember me field -->
          <%= f.check_box :remember_me, class: "mr-2" %>
          <%= f.label :remember_me, class: "text-sm font-medium text-gray-700" %>
        </div>
      <% end %>
      <div class="inline"> <!-- Styled the submit button -->
        <%= f.submit "Log in", class: "rounded-lg py-3 px-5 bg-primary text-black inline-block font-medium cursor-pointer hover:bg-primary-700" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
