<%= form_with(model: contact_form, local: true) do |form| %>
  <% if local_assigns[:expense] && contact_form.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>
      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="group my-8">
    <%= form.text_field :email, class: "input rounded-none", required:true, type:"email" %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>email</label>
  </div>
  <div class="group my-8">
    <%= form.text_field :subject, class: "input rounded-none" , required:true%>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>subject</label>
  </div>
  <div class="group my-8">
    <%= form.text_area :message, rows: 5, class: "input textfield rounded-none" ,  required:true%>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>message</label>
  </div>
  <%= form.submit "Submit", class: "btn  submit btn-primary w-4/5 rounded mt-5" %>
<% end %>
