<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <% if notice.present? %>
      <div data-controller="notice" class=" bg-green-50 text-green-500 font-medium rounded-lg inline-block text-center animate-pulse transition-opacity duration-500" id="notice"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="bg-red-50 text-red-500 font-medium rounded-lg inline-block text-center animate-pulse" id="alert" ><%= alert %></div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer"%>
  </body>
</html>
