<!DOCTYPE html>
<html class="scroll-smooth h-full">
  <head>
    <title>Adam LaBarge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('ProfilePicture') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen">
    <turbo-frame id="flash">
      <%= render 'flash'%>
    </turbo-frame>
    <main class="flex h-screen justify-center items-center">
      <%= yield %>
    </main>
  </body>
</html>
